version: '3.9'

services:
  meilisearch:
    container_name: meilisearch
    image: getmeili/meilisearch:latest
    restart: unless-stopped
    ports:
      - "7700:7700"
    environment:
      MEILI_NO_ANALYTICS: "true"
      MEILI_MASTER_KEY: "masterkey123"
    networks:
      - proxy_net
    volumes:
      - meilisearch_data:/meili_data

networks:
  proxy_net:
    external: true

volumes:
  meilisearch_data:
